/* shared */
.btn-primary{
    background-color: #E02C6D;
}
.dark-1{
    color: #3A3A3A;
}
/* header styles */
/* nav styles */
body{
    margin: 0 150px;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.pages{
    display: flex;
    gap: 20px;
}
.pages li{
    list-style: none;
}
.pages li a{
    text-decoration: none;
}
/* header content styles */
.header-container{
    display: flex;
    gap: 200px;
}
.start{
    max-width: 582px;
    max-height: 133px;
}
.nav-p{
    max-width: 560px;
    max-height: 60px;
}
.nav-btn{
    color: white;
    border: none;
    border-radius: 18px;
    padding: 10px;
}
.header-content{
    margin-top: 185px;
}
.header-container img{
    margin-top: 80px;
    height: 100pxpx;
    width: 440px;
}
.header-logos{
    display: flex;
    margin: 20px 30px;
    
    justify-content: space-between;
}
/* popular cllection styles */
.popular-collection{
    margin-top: 80px;
    justify-items: center;
}
.container{
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
}

.box{
    /* justify-items: center; */
    padding: 10px;
    width: 300px;
    height: auto;
    border-radius: 8px;
    box-shadow: 0px 6px 50px 0 rgba(0, 0, 0, 0.114);
    /* x,y,blur,spread color */
}
.box img{
    width: 295px;
}